node_modules

# Ignore packe-lock
package-lock.json

# Ignore log files
logs/
*.log

# modulename list
modulenames.txt

# env file 
.env

# append direct files 
insertMasterUser.js
insertSuperAdmin.js